#about {
  background-color: #f7f7f7;
}
section h2.sectionHeading {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 40px;
}

.textMuted {
  color: #777;
}

section h3.sectionSubheading {
  margin-bottom: 75px;
  text-transform: none;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
}

.imageMe {
  position: relative;
  width: 100%;
  max-width: 25rem !important;
  height: 100%;
  min-height: 15rem;
  padding: 0;
  background-image: url("../../../public/PEDROVEGA.jpg");
  background-position: center center;
  background-repeat: none;
  background-size: cover;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 300px 300px 300px 300px;
}

.containerAbout {
  width: 100%;
  max-width: 20rem;
}
