.backgroundImage {
  text-align: center;
  color: #fff;
  background-attachment: scroll;
  background-image: url("../../../public/headerBackgroudn.jpg");
  background-position: center center;
  background-repeat: none;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

section .introText {
  padding-top: 100px;
  padding-bottom: 50px;
}

section .introText .introLeadIn {
  margin-bottom: 10px;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 22px;
  font-style: italic;
  line-height: 22px;
  text-shadow: -0.5px -0.5px 0 #000, 0.3px -1px 0 #000, -0.5px 0.5px 0 #000,
    0.5px 0.5px 0 #000;
}

section .introText .introHeading {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  text-shadow: -0.5px -0.5px 0 #000, 0.3px -1px 0 #000, -0.5px 0.5px 0 #000,
    0.5px 0.5px 0 #000;
}
.background {
  background: #033a80 !important;
  color: #f3eeee;
}
.background:hover {
  color: #f3eeee !important;
}

@media (min-width: 768px) {
  section .introText {
    padding-top: 200px;
    padding-bottom: 150px;
  }

  section .introText .introLeadIn {
    margin-bottom: 25px;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 40px;
    font-style: italic;
    line-height: 40px;
  }

  section .introText .introHeading {
    margin-bottom: 25px;
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 75px;
    font-weight: 700;
    line-height: 75px;
  }
}
